<div class="login" style="background-image: src(vintage.jpg)">
  <div class="row grid-container">
    <div class="col-md-10">
      <h1>Create Login: </h1>
	  <form [formGroup]="checkoutForm" (ngSubmit)="enter()">
         <div>
    <label for="name">
      User
    </label>
    <input id="name" type="text" formControlName="name">
  </div>
    <div>
    <label for="password">
      Password
    </label>
    <input id="password" type="text" formControlName="password">
  </div>
        <br />
		<button class="button" type="submit">Login</button>
		</form>
      <div class="col-md-4">
        <a class="btn btn-default" [routerLink]="['/createlogin']">Create Login Page</a>
      </div>
    </div>
  </div>
</div>
